.small-gutters {
  margin-right: -0.5rem;
  margin-left: -0.5rem;

  >.col,
  >[class*="col-"] {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}


.col-256 {
  max-width: 16rem + $grid-gutter-width;
}


.col-500 {
  max-width: 31.25rem + $grid-gutter-width;
}

.col-1168 {
  max-width: 73rem + $grid-gutter-width;
}
.col-772 {
  max-width: 48.25rem + $grid-gutter-width;
}
.col-396 {
  max-width: 24.75rem + $grid-gutter-width;
}

.col-1144{
  max-width: 71.5rem + $grid-gutter-width;
}
.col-734 {
  max-width: 45.25rem + $grid-gutter-width;
}
.col-380 {
  max-width: 23.75rem + $grid-gutter-width;
}
.col-292{
  max-width: 18.25rem + $grid-gutter-width;
}
