@font-face {
font-family: "gapo-icon";
src: url('#{$font-path}/gapo-icon.eot');
src: url('#{$font-path}/gapo-icon.eot?#iefix') format('eot'),
url('#{$font-path}/gapo-icon.woff2') format('woff2'),
url('#{$font-path}/gapo-icon.woff') format('woff'),
url('#{$font-path}/gapo-icon.ttf') format('truetype'),
url('#{$font-path}/gapo-icon.svg#gapo-icon') format('svg');
font-weight: normal;
font-style: normal;
}

.gapo-icon{
display: inline-block;
font-family: "gapo-icon";
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;


.icon-lg {
font-size: 1.3333333333333333em;
line-height: 0.75em;
vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
width: 1.2857142857142858em;
text-align: center;
}


&.icon-alert-alt:before { content:
"\EA01" }
&.icon-bookmark-alt:before { content:
"\EA02" }
&.icon-briefcase:before { content:
"\EA03" }
&.icon-camera-alt:before { content:
"\EA04" }
&.icon-like:before { content:
"\EA05" }
&.icon-verify:before { content:
"\EA06" }
&.icon-close-alt:before { content:
"\EA07" }
&.icon-comment-alt:before { content:
"\EA08" }
&.icon-config:before { content:
"\EA09" }
&.icon-emotion-alt:before { content:
"\EA0A" }
&.icon-friends-alt:before { content:
"\EA0B" }
&.icon-friends:before { content:
"\EA0C" }
&.icon-globe-alt:before { content:
"\EA0D" }
&.icon-graduation-cap-alt:before { content:
"\EA0E" }
&.icon-home-alt:before { content:
"\EA0F" }
&.icon-lock:before { content:
"\EA10" }
&.icon-pencil-alt:before { content:
"\EA11" }
&.icon-picture-landscape:before { content:
"\EA12" }
&.icon-plus-circle:before { content:
"\EA13" }
&.icon-search-alt:before { content:
"\EA14" }
&.icon-share-alt:before { content:
"\EA15" }
&.icon-trash-alt:before { content:
"\EA16" }
&.icon-eye-slash:before { content:
"\EA17" }
&.icon-location:before { content:
"\EA18" }
&.icon-eye:before { content:
"\EA19" }
&.icon-close:before { content:
"\EA1A" }
&.icon-more-option:before { content:
"\EA1B" }

}