
.modal-login{
  .modal-header {
  }
  .form-control {
    padding: 0.5rem 0.75rem;

    height:56px;
  }
  .btn-blue-light{
    // border: 2px solid $danger;
    background: rgba(156,247,255,1);
    background: -moz-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(156,247,255,1)), color-stop(100%, rgba(52,204,255,1)));
    background: -webkit-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: -o-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    background: linear-gradient(to bottom, rgba(156,247,255,1) 0%, rgba(52,204,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cf7ff', endColorstr='#34ccff', GradientType=0 );
    color:#19445f;
    text-transform: uppercase;
  }
}
.dark-mode{
  .modal-login{
    .modal-header {
      border-bottom:1px solid #223d59;
    }
    .form-control {
      height:56px;
      background-color: #0c151f;
      border-color: #223d59;
      color: #bcd4e2;
    }
    color: $light;
    .close {
      color: $light;
    }
  }

}

.form-control {
  border-radius: 0.5rem;
}
.btn-lg {
  border-radius: 0.5rem;
}
