.container {
  width: 1144px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  // background-size:cover;
  background-color: $dark;
  color: $dark;
  overflow-x: hidden;
}

.gametv-main {
  min-height: 100%;
}


.gametv-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.gametv-subtitle {
  font-size: 1rem;
  font-weight: bold;
}


.gametv-group {
  display: flex;

  >a,
  >button {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


button.close {
  opacity: 1;
  outline: none;

  .gametv-icon {
    font-weight: inherit;
  }
}


.list-unstyled {
  margin-bottom: 0;
}
button:focus {
  outline: none;
}
.border-radius-025{
  border-radius: 0.25rem;
}

.border-radius-05{
  border-radius: 0.5rem;
}
.border-radius-1{
  border-radius: 1rem;
}
.gapo-box {
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  -moz-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  box-shadow: 0 1px 3px rgba(26,26,26,.3);
  padding: .75rem;
  margin-bottom: .75rem;
  background-color: $light;
}
.post-more{
  color: $dark;
}
.dark-mode{
  body{
    background-color:$dark;
    color: $light;
  }
  .post-more{
    color: $white;
  }
}

.modal-content{
  background-color: $light;
  border-radius: 1rem;
}
.tour-video,.list-news-video{
  color: $dark;
}

.modal {
  // .modal-body {
  //   padding: 2.5rem;

  // }

  .modal-dialog {
    max-width: 542px;
    min-height: 642px;
  }
}
.gametv-main{
  .modal-content{
    background-image: url("../images/kynguyenz/modal/bgForm.png");
    background-repeat: no-repeat;
    background-position:top center;
    min-height: 642px;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    .modal-header{
      color:#deca7a;
      text-align: center;
      .close{
        color:#deca7a;
      }
    }
  }

  .gapo-box {
    background-color: #232323;
  }
  .border-bottom{
    border-bottom: 1px solid #695757 !important;
  }
  .tour-video,.list-news-video{
    color: $white;
  }
}
.modal-rules{
  .modal-dialog {
    max-width: 962px;
  }
  .modal-content{
    background-image: url("../images/kynguyenz/modal/bgForm4.png");
    background-repeat: no-repeat;
    background-position:top center;
    min-height: 652px;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;

    .modal-header{
      color:#deca7a;
      text-align: center;
      .close{
        color:#deca7a;
      }
    }
    .modal-body{
      padding-right: 200px !important;
      .title{
        color: #deca7a;
        font-weight: bold;
        font-size: 20px;
      }
    }

  }
}
.tour-header{
  border-bottom: 5px solid $danger;
  padding: 0 0 1rem 0;
}
.list-news-video__header{
  border-bottom: 3px solid $danger;
  padding: 0 0 0.75rem 0;
}
.part{
  width: 90px;
  height: 38px;
  background-color: #8a8e9e;
  color: #ffffff;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}
.part.active,.part-tag.active{
  background-color: $danger !important;
  color: #ffffff !important;

}
.series-icon,.tour-tag-icon{
  font-size: 1.5rem;
  font-weight: bold;
}
.tour-more{
  font-weight: bold;
  color: #6c7183;
}
.part-tag{
  padding: 0 0.5rem;
  height: 30px;
  background-color: #eff0f4;
  color: #000000 !important;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}
.thumb-video{
  position: relative;
  .icon-video{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width:28px;
    height: 35px;
    margin:auto;
  }
}
.list-streamer{
  li{
    background-color:#eff0f4;
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    .media-body{
      justify-content:center;
      display:flex;
      min-height: 33px;
      align-items: center;
      font-weight: bold;
      a{
        color:#000000;
      }
    }
  }
}
li.media img {
  object-fit: cover;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $dark;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  font-size: 24px;
  color: #bc915c;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  margin: 8px 0px !important;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
  // margin: 0.38rem 0px !important;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background-image: url("../images/kynguyenz/paging/bgActive.png");
  background-position: center center;
  background-repeat: no-repeat;
  font-weight: 700;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: 0;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../images/kynguyenz/paging/bgPagingNoText.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
}

.swiper-slide{
  .bg{
    width: 100%;
    -o-object-position: top;
    object-position: top;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .icon-play{
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    left: 15%;
    cursor: pointer;
    img{
      animation: pulse 1s infinite linear;
    }
  }
  .icon-reward{
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    bottom: 8vh;
    left: 39%;
    cursor: pointer;
    img{
      width: 30vh;
      animation: bounceInUp 2.5s  linear;
    }
  }
  .icon-reward-2{
    bottom: 8vh !important;
  }
  .wrap__slider{
    position: absolute;
  }
}

.side{
  width: 180px;
  height: 410px;
  position: absolute;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  right: 0;
  top: calc(50% - 205px);
  background-image: url("../images/kynguyenz/side/bgSide.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .button{
    position: relative;
    cursor: pointer;
  }
  .phone__contact{
    position: absolute;
    color: #FFFFFF;
    font-size: 17px;
    width: 150px;
    text-align: center;
    top:25px;
    font-weight: bold;
  }
  .side_action{
    position: absolute;
    right: 100%;
    top:50px;
    cursor: pointer;
  }
  animation: slideInRight 0.5s  linear;
}
.hide-side{
  right: -180px;
  animation: slideInRight 1.5s  linear;
}
.swiper-container-hero{
  width: 990px;
  height: 700px;
  position: absolute;
  .swiper-slide{
    background-color: transparent;
  }
  .swiper-slide{
    visibility: hidden;
  }
  .swiper-slide-active{
    visibility: visible;
  }
  .view__hero--description{
    min-height: 260px;
  }
}
.view__hero{
  width: 990px;
  height: 700px;
  // position: absolute;
  &--class{
    justify-content: start;
    display: flex;
  }
  &--description{
    justify-content: start;
    display: flex;
    text-align: left;
    color: #cbeaff;
    font-size: 0.875rem;
    padding-left: 12px;
    padding-top: 20px;
  }
  &--polygon{
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
  &--image{
    position: relative;
    img{
      position: absolute;
      left: 0;
      top:-100px
    }
  }

}
.view__hero--class{
  animation: pulse 1s infinite linear;
  cursor: pointer;
}
.vip-content{
  width: 1200px;
  height: 100%;
  position: absolute;
  max-height: 600px;
  .vip-item.active{
    box-shadow: 0px 0px 15px #d1bb6a;
    border-radius: 10px;
    animation-delay: 1s;
    animation: pulse 1s infinite linear;
    border: 1px solid #f8a002;
  }
  .vip-item{
    text-align: justify;
    border: 1px solid transparent;
    .title{
      color: #ffd18f;
      font-weight: bold;
      font-size: 13px;

    }
    .content{
      color: #ffffff;
      font-size: 12px;
      text-align: justify;
    }
  }
}
.vip-content .col:nth-child(2n) .vip-item{
  margin-top:100px;
}

.box-user{
  position: absolute;
  width:400px;
  height: 200px;
  right: 0;
  top:0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  a{
    cursor: pointer;
  }
  ul{
    width:400px;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;

    li{
      display: inline-block;
      margin: 0px 5px;
    }
  }

}

.history-item{
  display: flex;
  justify-content: space-between;
  border-bottom :1px solid #343e44;
  align-items: center;
  padding-bottom:5px;
  .media{
    display: flex;
    justify-content: start;
    align-items: center;
    span{
      color:#deca7a;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .time{
    font-size: 16px;
  }
}
.nav-pagination{
  border-radius: 0;
  .page-item:first-child .page-link {
    border-radius: 0;
  }
  .page-item:last-child .page-link {
    border-radius: 0;
  }
  .page-link {
    background-color: #142232;
    border: 1px solid #192b3f;
}
}

.section-hero{
  .desktop{
    max-width: 100%;
  }
}

.section-hero{
  position: relative;
  height: 100vh;
  width: 100vw;

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: 0;
    width: 100% !important;
    display: block;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    background:none !important;

  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
  }

  .swiper-pagination-bullet {
    width: 117px;
    height: 117px;
    margin:0 10px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    display: inline-block !important;

  }
  .swiper-pagination-hero{
    position: absolute;
    top:15vh;
    right: 53%;
    left: auto;
    z-index: 10000;
    height: 120px !important;
    overflow: hidden;
    bottom: auto !important;
    // flex-direction: row !important;
    // justify-content: end !important;
    // align-items: center !important;
    background:none !important;
    width: auto !important;
    display: table!important;
  }
  .swiper-pagination-bullet:nth-child(1){
    background: url("../images/web/paging_class1_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(1){
    background: url("../images/web/paging_class1.png") 100% 100%;
  }
  .swiper-pagination-bullet:nth-child(2){
    background: url("../images/web/paging_class2_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(2){
    background: url("../images/web/paging_class2.png") 100% 100%;
  }
  .swiper-pagination-bullet:nth-child(3){
    background: url("../images/web/paging_class3_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(3){
    background: url("../images/web/paging_class3.png") 100% 100%;
  }
  .swiper-pagination-bullet:nth-child(4){
    background: url("../images/web/paging_class4_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(4){
    background: url("../images/web/paging_class4.png") 100% 100%;
  }
  .swiper-button-next{
    position: absolute;
    top:45vh;
    right: 12%;
    z-index: 1000;
    display: flex;
    cursor: pointer;
  }
  .swiper-button-prev{
    position: absolute;
    top:45vh;
    left: 12%;
    z-index: 1000;
    display: flex;
    cursor: pointer;
  }
  .wrapper-video{
    width:374px;
    height: 220px;
    position: absolute;
    right:58%;
    top:33vh;
    z-index: 1000;
    display: none;
    border:4px solid #5f2a38;
  }
  .swiper-slide{
    visibility: hidden;
  }
  .swiper-slide.swiper-slide-active{
    visibility: visible;
    height: 100vh;
  }
  .swiper-slide-active{
    .wrapper-video{
      z-index: 1010;
      display: flex;
    }
  }


}
.swiper-slide{
  visibility: hidden;
}
.swiper-slide.swiper-slide-active{
  visibility: visible;
}
@media(max-width:1440px){
  .swiper-pagination-hero{
    top:20vh !important;
  }
  .swiper-pagination-hero,.wrapper-video,.swiper-pagination-bullet {
    transform: scale(0.75);
  }
}
@media(min-width:1920px){
  .icon-reward{
    bottom: 0vh !important;
  }
}
