{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="swiper-container">
  {% include "./shared/headerTop.njk" %}
  {% include "./shared/side.njk" %}
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src ="/assets/images/kynguyenz/background/bgPage1.jpg" class="bg" />
       <div class="icon-reward">
        <img src ="/assets/images/kynguyenz/page01/btnNhanThuong.png"  />
      </div>
    </div>
    <div class="swiper-slide">
      <img src ="/assets/images/kynguyenz/background/bgPage2.jpg" class="bg" />
      {% include "./components/block-vip.njk" %}
      {#  #}
      <div class="icon-reward icon-reward-2" onclick="spinGame.start();">
        <img src ="/assets/images/kynguyenz/page01/btnNhanThuong.png"  />
      </div>
      <div class="box-user">
        <ul>
          <li>
            <a href="#js-history-modal" data-toggle="modal">
              <img src ="/assets/images/kynguyenz/page02/btn_history.png"  />
            </a>
          </li>
          <li>
             <a href="#js-rules-modal" data-toggle="modal">
              <img src ="/assets/images/kynguyenz/page02/btn_rules.png"  />
            </a>
          </li>
        </ul>
        <div>
          <div>
            Hello, <strong>UserName</strong> <a>
              <img src ="/assets/images/kynguyenz/page02/btn_logout.png"  />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="section-hero swiper-hero">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hSbKoN1oZ90?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/xathu.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/U49KDDBlORU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/satthu.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CD0iIYyEgHI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/dausy.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pye62NFkiLM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/thosan.jpg" alt="" class="desktop lazyloaded">
          </div>
        </div>
         <!-- Add Arrows -->
          <div class="swiper-button-next">
            <img  src="assets/images/web/next.png" alt="" class="desktop lazyloaded"/>
          </div>
          <div class="swiper-button-prev">
            <img  src="assets/images/web/prev.png" alt="" class="desktop lazyloaded"/>
          </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination-hero"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <img src ="/assets/images/kynguyenz/background/bgPage4.jpg" class="bg" />
      {% include "./components/slideshow2.njk" %}
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
{# <div class="row justify-content-center">
  <div class="col  py-4">
      {% include "./components/slideshow2.njk" %}

  </div>
</div> #}

{# {# {% include "./components/login-modal.njk" %} #}
{% include "./components/modal03.njk" %}
{% include "./components/modal04.njk" %}
{% endblock %}

