{% extends "layouts/default-modal.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="swiper-container">
  {% include "./shared/headerTop.njk" %}
  {% include "./shared/side.njk" %}
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src ="/assets/images/kynguyenz/background/bgPage1.jpg" class="bg" />
      <div class="icon-play">
        <img src ="/assets/images/kynguyenz/page01/iconPlay.png"  />
      </div>
       <div class="icon-reward">
        <img src ="/assets/images/kynguyenz/page01/btnNhanThuong.png"  />
      </div>
    </div>
    <div class="swiper-slide">
      <img src ="/assets/images/kynguyenz/background/bgPage2.jpg" class="bg" />
      {% include "./components/block-vip.njk" %}
      <div class="icon-reward">
        <img src ="/assets/images/kynguyenz/page01/btnNhanThuong.png"  />
      </div>
      <div class="box-user">
        <ul>
          <li>
            <a href="#js-authenticated-modal" data-toggle="modal">
              <img src ="/assets/images/kynguyenz/page02/btn_history.png"  />
            </a>
          </li>
          <li>
            <a>
              <img src ="/assets/images/kynguyenz/page02/btn_rules.png"  />
            </a>
          </li>
        </ul>
        <div>
          <div>
            Hello, <strong>UserName</strong> <a>
              <img src ="/assets/images/kynguyenz/page02/btn_logout.png"  />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <img src ="/assets/images/kynguyenz/background/bgPage3.jpg" class="bg" />
      {% include "./components/view-hero.njk" %}
    </div>
    <div class="swiper-slide">
      <img src ="/assets/images/kynguyenz/background/bgPage4.jpg" class="bg" />
      {% include "./components/slideshow2.njk" %}
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
{# <div class="row justify-content-center">
  <div class="col  py-4">
      {% include "./components/slideshow2.njk" %}

  </div>
</div> #}

{# {# {% include "./components/login-modal.njk" %} #}
{% include "./components/modal01.njk" %}
{% endblock %}

