<div class="vip-content">
  <div class="row">
    <div class="col">
      <div class="vip-item">
        <img src ="/assets/images/kynguyenz/page02/vip1Active.png" class="mw-100" />
        <div class="title mb-2 px-3">
          Lorem ipsum dolor sit amet
        </div>
        <div class="content px-3 pb-3">
          Consectetur adipiscing elit. In ultricies consectetur est, eu placerat urna condimentum ut.
          Integer nunc nunc, semper et sem at, tincidunt rutrum nibh. Curabitur ornare pretium lacus, quis ornare nisi aliquam et.
          Fusce faucibus maximus augue sit amet pellentesque.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="vip-item ">
        <img src ="/assets/images/kynguyenz/page02/vip2.png" class="mw-100" />
        <div class="title mb-2 px-3">
          Lorem ipsum dolor sit amet
        </div>
        <div class="content px-3 pb-3">
          Consectetur adipiscing elit. In ultricies consectetur est, eu placerat urna condimentum ut.
          Integer nunc nunc, semper et sem at, tincidunt rutrum nibh. Curabitur ornare pretium lacus, quis ornare nisi aliquam et.
          Fusce faucibus maximus augue sit amet pellentesque.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="vip-item">
        <img src ="/assets/images/kynguyenz/page02/vip3.png" class="mw-100" />
        <div class="title mb-2 px-3">
          Lorem ipsum dolor sit amet
        </div>
        <div class="content px-3 pb-3">
          Consectetur adipiscing elit. In ultricies consectetur est, eu placerat urna condimentum ut.
          Integer nunc nunc, semper et sem at, tincidunt rutrum nibh. Curabitur ornare pretium lacus, quis ornare nisi aliquam et.
          Fusce faucibus maximus augue sit amet pellentesque.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="vip-item">
        <img src ="/assets/images/kynguyenz/page02/vip4.png" class="mw-100" />
        <div class="title mb-2 px-3">
          Lorem ipsum dolor sit amet
        </div>
        <div class="content px-3 pb-3">
          Consectetur adipiscing elit. In ultricies consectetur est, eu placerat urna condimentum ut.
          Integer nunc nunc, semper et sem at, tincidunt rutrum nibh. Curabitur ornare pretium lacus, quis ornare nisi aliquam et.
          Fusce faucibus maximus augue sit amet pellentesque.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="vip-item">
        <img src ="/assets/images/kynguyenz/page02/vip5.png" class="mw-100" />
        <div class="title mb-2 px-3">
          Lorem ipsum dolor sit amet
        </div>
        <div class="content px-3 pb-3">
          Consectetur adipiscing elit. In ultricies consectetur est, eu placerat urna condimentum ut.
          Integer nunc nunc, semper et sem at, tincidunt rutrum nibh. Curabitur ornare pretium lacus, quis ornare nisi aliquam et.
          Fusce faucibus maximus augue sit amet pellentesque.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="vip-item">
        <img src ="/assets/images/kynguyenz/page02/vip6.png" class="mw-100" />
        <div class="title mb-2 px-3">
          Lorem ipsum dolor sit amet
        </div>
        <div class="content px-3 pb-3">
          Consectetur adipiscing elit. In ultricies consectetur est, eu placerat urna condimentum ut.
          Integer nunc nunc, semper et sem at, tincidunt rutrum nibh. Curabitur ornare pretium lacus, quis ornare nisi aliquam et.
          Fusce faucibus maximus augue sit amet pellentesque.
        </div>
      </div>
    </div>
  </div>
</div>
