<div class="modal modal-rules fade modal-login show" tabindex="-1" role="dialog" id="js-rules-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title gametv-subtitle text-uppercase text-center ml-auto pl-4">Thể lệ</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="gapo-icon icon-close"></i>
        </button>
      </div>
      <div class="modal-body px-5">
          <div class="title mb-4">Curabitur egestas placerat mauris et finibus</div>
          <p>Sed ultricies volutpat ex at blandit. Morbi quam libero, rutrum vitae tempor id, feugiat sed elit. Mauris dolor arcu, congue at mi nec, tincidunt pretium massa. Duis scelerisque nisi vitae malesuada suscipit. Aliquam ac dignissim ante, et ornare nibh. Etiam aliquam nunc ut diam commodo, nec vestibulum ligula varius. Quisque gravida tortor in suscipit dignissim. Nam eu condimentum ipsum, nec facilisis lorem. Curabitur euismod elit vitae ligula rutrum, at varius turpis molestie. Aenean id rhoncus erat.</p>
          <p>Sed ultricies volutpat ex at blandit. Morbi quam libero, rutrum vitae tempor id, feugiat sed elit. Mauris dolor arcu, congue at mi nec, tincidunt pretium massa. Duis scelerisque nisi vitae malesuada suscipit. Aliquam ac dignissim ante, et ornare nibh. Etiam aliquam nunc ut diam commodo, nec vestibulum ligula varius. Quisque gravida tortor in suscipit dignissim. Nam eu condimentum ipsum, nec facilisis lorem. Curabitur euismod elit vitae ligula rutrum, at varius turpis molestie. Aenean id rhoncus erat.</p>
          <p>Sed ultricies volutpat ex at blandit. Morbi quam libero, rutrum vitae tempor id, feugiat sed elit. Mauris dolor arcu, congue at mi nec, tincidunt pretium massa. Duis scelerisque nisi vitae malesuada suscipit. Aliquam ac dignissim ante, et ornare nibh. Etiam aliquam nunc ut diam commodo, nec vestibulum ligula varius. Quisque gravida tortor in suscipit dignissim. Nam eu condimentum ipsum, nec facilisis lorem. Curabitur euismod elit vitae ligula rutrum, at varius turpis molestie. Aenean id rhoncus erat.</p>
      </div>

    </div>
  </div>
</div>
