<div class="modal fade modal-login show" tabindex="-1" role="dialog" id="js-history-modal" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title gametv-subtitle text-uppercase text-center ml-auto pl-4">Lịch sử vòng quay</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="gapo-icon icon-close"></i>
        </button>
      </div>
      <div class="modal-body px-5">
        <div class="history-item">
          <div class="media">
            <img src ="/assets/images/kynguyenz/page02/vip1.png" class="mw-100" width="60" />
            <span class="ml-2">VIP1</span>
          </div>
          <div class="time">
            15:00 - 18/08/2020
          </div>
        </div>
        <div class="history-item">
          <div class="media">
            <img src ="/assets/images/kynguyenz/page02/vip2.png" class="mw-100" width="60" />
            <span class="ml-2">VIP2</span>
          </div>
          <div class="time">
            15:00 - 18/08/2020
          </div>
        </div>
        <div class="history-item">
          <div class="media">
            <img src ="/assets/images/kynguyenz/page02/vip3.png" class="mw-100" width="60" />
            <span class="ml-2">VIP3</span>
          </div>
          <div class="time">
            15:00 - 18/08/2020
          </div>
        </div>
        <div class="history-item">
          <div class="media">
            <img src ="/assets/images/kynguyenz/page02/vip4.png" class="mw-100" width="60" />
            <span class="ml-2">VIP4</span>
          </div>
          <div class="time">
            15:00 - 18/08/2020
          </div>
        </div>
        <div class="history-item">
          <div class="media">
            <img src ="/assets/images/kynguyenz/page02/vip5.png" class="mw-100" width="60" />
            <span class="ml-2">VIP5</span>
          </div>
          <div class="time">
            15:00 - 18/08/2020
          </div>
        </div>
        <div class="history-item">
          <div class="media">
            <img src ="/assets/images/kynguyenz/page02/vip6.png" class="mw-100" width="60" />
            <span class="ml-2">VIP6</span>
          </div>
          <div class="time">
            15:00 - 18/08/2020
          </div>
        </div>
        <nav aria-label="Page navigation example " class="mt-3 nav-pagination" >
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</div>
