<div class="modal fade modal-login show" tabindex="-1" role="dialog" id="js-authenticated-modal" style="display:block">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title gametv-subtitle text-uppercase text-center ml-auto pl-4">Đăng Ký</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="gapo-icon icon-close"></i>
        </button>
      </div>
      <div class="modal-body p-5">
        <form action="" class="">
        <div class="form-group">
          <div class="input-group input-group--username">
            <input type="text" class="form-control is-invalid" placeholder="Tên tài khoản">
          <div class="invalid-feedback">Tên tài khoản không hợp lệ</div>

          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group--username">
            <input type="text" class="form-control " placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group--password">
            <input type="password" class="form-control" placeholder="Mật khẩu">

          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group--password">
            <input type="password" class="form-control" placeholder="Xác nhận mật khẩu">

          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-blue-light btn-lg w-100 mt-3" type="submit">Đăng ký</button>

        </div>

      </form>
      </div>

    </div>
  </div>
</div>
