<div class="wrap__slider">
  <div class="slider__body">
    <div class="slider__title">
       <a href="#"><img src="assets/images/kynguyenz/page04/title.png" class="m-auto " alt=""></a>
    </div>
    <div class="slider__content my-5">
      <div class="item">
        <a href="#"><img src="assets/images/kynguyenz/page04/image01.jpg" class="w-100" alt=""></a>
      </div>
      <div class="item">
        <a href="#"><img src="assets/images/kynguyenz/page04/image02.jpg" class="w-100" alt=""></a>
      </div>
      <div class="item">
        <a href="#"><img src="assets/images/kynguyenz/page04/image03.jpg" class="w-100" alt=""></a>
      </div>
    </div>
    <div>
      <div class="_1CdwCGBxlTtHzDUKvfEWsA lKX6s_p6ynVhnaiCZJ25h">
        <a class="prev" onclick="plusSlides(-1)"><img src="assets/images/kynguyenz/page04/prev.png"/></a>
      </div>
      <div class="_3KOHgGiuwo9eAPvWW3OWXS lKX6s_p6ynVhnaiCZJ25h">
        <a class="next" onclick="plusSlides(1)"><img src="assets/images/kynguyenz/page04/next.png"/></a>
      </div>
    </div>
  </div>
</div>
