<div class="header__top">
  <div class="logo">
    <a herf="#"> <img src ="/assets/images/kynguyenz/menu/Logo.png" /> </a>
  </div>
  <div class="menu">
    <ul>
      <li>
        <a herf="#"><img src ="/assets/images/kynguyenz/menu/iconHome.png" class="mr-1" />Trang chủ</a>
      </li>
      <li>
        <a herf="#"><img src ="/assets/images/kynguyenz/menu/iconFanpage.png" class="mr-1" />Fanpage</a>
      </li>
      <li>
        <a herf="#"><img src ="/assets/images/kynguyenz/menu/iconGroup.png" class="mr-1" />Group</a>
      </li>
    </ul>
  </div>
</div>
