<div class="side">
  <div class="side_action show_side">
    <img src ="/assets/images/kynguyenz/side/btnShow.png"  />
  </div>
  <div class="side_action hide_side">
    <img src ="/assets/images/kynguyenz/side/btnHide.png"  />
  </div>
  <div class="button my-1">
    <img src ="/assets/images/kynguyenz/side/QR_CODE.png"  />
  </div>
  <div class="button my-1">
    <img src ="/assets/images/kynguyenz/side/btnFileIOS.png"  />
  </div>
  <div class="button my-1">
    <img src ="/assets/images/kynguyenz/side/btnFileAndroid.png"  />
  </div>
  <div class="button my-1">
    <img src ="/assets/images/kynguyenz/side/btnFileAPK.png"  />
  </div>
  <div class="button my-1">
    <img src ="/assets/images/kynguyenz/side/btnCSKH.png"  />
    <div class="phone__contact">098.6868.686</div>
  </div>
</div>
